---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@util/recipes.util";

export async function getStaticPaths() {
  const recipes = await getCollection("Recipes");
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { entry: recipe },
  }));
}

const { entry: recipe } = Astro.props;
const { Content } = await recipe.render();
---

<Layout>
  <article>
    <header>
      <hgroup>
        <h1>{recipe.data.title}</h1>
        <p data-note>
          <time datetime={recipe.data.date.toISOString()}>{formatDate(recipe.data.date)}</time>
        </p>
      </hgroup>
      <hr />
      {recipe.data.coverImage && (
      <figure>
        <img src={recipe.data.coverImage} alt="Cover image" />
        <figcaption>{recipe.data.coverImageAlt}</figcaption>
      </figure>
      )}
    </header>
    <section>
      <Content />
    </section>
    <hr />
    <footer>
      <ul role="list" data-spaced>
        {recipe.data.tags.map((tag => (
          <li>{tag}</li>
        )))}
      </ul>
    </footer>
  </article>
</Layout>

<style>
li {
  &:before {
    content: '# ';
  }
}
</style>
