---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@util/recipes.util";
import ShareActions from "@components/recipe/ShareActions.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("Recipes");
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { entry: recipe },
  }));
}

const { entry: recipe } = Astro.props;
const { Content } = await recipe.render();
---

<Layout title={recipe.data.title} lang={recipe.data.language}>
  <article>
    <header>
      <hgroup>
        <h1>{recipe.data.title}</h1>
        <p data-note>
          <time datetime={recipe.data.date.toISOString()}>{formatDate(recipe.data.date, recipe.data.language)}</time>
        </p>
      </hgroup>
      <hr />
      {recipe.data.coverImage && (
      <figure>
        <img src={recipe.data.coverImage} alt="Cover image" />
        <figcaption>{recipe.data.coverImageAlt}</figcaption>
      </figure>
      )}
    </header>
    <section>
      <Content />
    </section>
    <hr />
    <footer>
      <section>
        <ShareActions />
      </section>
      <hr />
      <section>
        <ul role="list" data-spaced>
          {recipe.data.tags.map((tag => (
          <li>
            <span data-symbol="#">{tag}</span></li>
          )))}
        </ul>
      </section>
    </footer>
  </article>
</Layout>
