---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@util/recipes.util";

const recipes = await getCollection("Recipes");

const recentRecipes = recipes
  .sort((left, right) => right.data.date.getTime() - left.data.date.getTime())
  .slice(0, 3);
---

<Layout>
  <hgroup>
    <h1>Bread Toolkit</h1>
    <p>Modest tools, soulful results.</p>
  </hgroup>

  <section>
    <h2>
      Tools
    </h2>
    <ul role="list">
      <li>
        <a data-type="button" data-outline href="/calculator">
          Calculator
        </a>
      </li>
    </ul>
  </section>

  <hr/>

  <section>
    <h2>Recent</h2>

    {recentRecipes.map((recipe) => (
    <article data-entry>
      <h3 id={recipe.slug}>
        <a href={`/recipes/${recipe.slug}`} data-astro-prefetch>
          {recipe.data.title}
        </a>
      </h3>
      <p data-note>
        <time datetime={recipe.data.date.toISOString()}>{formatDate(recipe.data.date)}</time>
      </p>
    </article>
    ))}
  </section>
</Layout>

