---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@util/recipes.util";

const recipes = await getCollection("Recipes");

const sortedRecipes = recipes.sort(
  (left, right) => right.data.date.getTime() - left.data.date.getTime(),
);
---

<Layout>
  <hgroup>
    <h1>Recipes</h1>
    <p>Find and bake a recipe of your taste.</p>
  </hgroup>
  <section>
    {sortedRecipes.map((recipe) => (
    <article data-entry>
      <h2 id={recipe.slug}>
        <a href={`/recipes/${recipe.slug}`} data-astro-prefetch>
          {recipe.data.title}
        </a>
      </h2>
      <p data-note>
        <time datetime={recipe.data.date.toISOString()}>{formatDate(recipe.data.date)}</time>
      </p>
    </article>
    )
    )}
  </section>
</Layout>

<style>

h1 {
  /* Small tweak to add breath between the title and the paragraph */
  --main-title-leading: var(--leading-fine);
}

</style>
