---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@util/recipes.util";

const recipes = await getCollection("Recipes");

const sortedRecipes = recipes.sort(
  (left, right) => right.data.date.getTime() - left.data.date.getTime(),
);
---

<Layout>
  <hgroup>
    <h1>Recipes</h1>
    <p>Find and bake a recipe of your taste</p>
  </hgroup>
  <article>
    {sortedRecipes.map((recipe) => (
    <article>
      <a href={`/recipes/${recipe.slug}`} data-astro-prefetch>
        <h2 id={recipe.slug}>{recipe.data.title}</h2>
      </a>
      <p data-note>
        <time datetime={recipe.data.date.toISOString()}>{formatDate(recipe.data.date)}</time>
      </p>
    </article>
    )
    )}
  </article>
</Layout>

<style>

h1 {
  --main-title-leading: var(--leading-fine);
}

h2 {
  --font-size: var(--font-size-6);
}

p {
  --flow-space:0;
}

</style>
