---
import { pwaInfo } from "virtual:pwa-info";
import Menu from "@components/Menu.astro";
import "@/assets/styles/global.css";
import "@/assets/styles/fonts.css";

interface Props {
  title?: string;
  lang?: string;
}

const { title = "Bread Toolkit", lang = "en" } = Astro.props;

const fonts = [
  "etbookot-roman-webfont.woff2",
  "etbookot-bold-webfont.woff2",
  "etbookot-italic-webfont.woff2",
];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Prioritizing the font loading -->
    {fonts.map((font) => (
      <link
        rel="preload"
        href={`/fonts/${font}`}
        as="font"
        type="font/woff2"
        crossorigin
      />
    ))}
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title="Breadtoolkit" href="/rss.xml" />
    <title>{title}</title>
    <meta name="description" content="Online tools to help your bread baking journey. Bread toolkit gives your free recipes, guides and calculators to work with high hydration artisan breads.">
    <script src="/src/pwa.js"></script>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <main>
      <slot />
    </main>
  </body>
  <footer></footer>
</html>
